*{
    padding: 0%;
    margin: 1%;
}

body{
    background-color: #2D336B;
    box-sizing: border-box;
}

.Navegacion{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 24px;
    font-weight: 600;
}

.anclaNavegacion{
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    color: black;
    background-color: rgb(80, 80, 217);
    border-radius: 8px;
}

.mainClass{
    display: flex;
    gap: 20px;
}

.estiloTitulo{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: rgb(80, 80, 217);
    width: 25%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.figuraClase{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imagenDanubio{
    width: 500px;
}

.imagenBudapest{
    width: 540px;
    height: 270px;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}

.estiloSeccion{
    display: flex;
    flex: 7;
}

article{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;
    flex: 1;
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(73, 73, 214);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.estiloArticulo{
    background-color: rgb(63, 63, 208);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

p, li{
    font-family: "Open Sans", sans-serif;
}

.estiloFooter{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}