*{
    padding: 0%;
    margin: 1%;
}

body{
    background-color: aqua;
    box-sizing: border-box;
}

.Navegacion{
    display: flex;
    justify-content: center;
}
.mainClass{
    display: flex;
    gap: 20px;
}

.estiloTitulo{
    display: flex;
    justify-content: center;
    font-family: "Krona One", sans-serif;
}

.estiloFooter{
    display: flex;
    justify-content: center;
}

.figuraClase{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imagenDanubio{
    width: 500px;
}

.imagenBudapest{
    width: 540px;
    height: 270px;
}

h2{
    font-family: "Krona One", sans-serif;
}

.estiloSeccion{
    display: flex;
    flex: 7;
}

article{
    display: flex;
    flex-direction: column;
    gap: 10px;
}