*{
    padding: 0%;
    margin: 1%;
    color: #2D336B;
}

body{
    background-color: #A9B5DF;
    box-sizing: border-box;
}

.Navegacion{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 24px;
    font-weight: 600;
}

.anclaNavegacion{
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    color: #2D336B;
    background-color: #f2f2ff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.mainClass{
    display: flex;
    gap: 20px;
}

.estiloTitulo{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: #7886C7;
    width: auto;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.figuraClase{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imagenDanubio{
    width: 500px;
}

.imagenBudapest{
    width: 540px;
    height: 270px;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}

.estiloSeccion{
    display: flex;
    flex: 7;
}

article{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;
    flex: 1;
    gap: 10px;
    border-radius: 20px;
    background-color: #7886C7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.estiloArticulo{
    background-color: #7886C7;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

p, li{
    font-family: "Open Sans", sans-serif;
    color: #FFF2F2;
}

.estiloFooter{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1200px){
    .header{
        padding: 10%;
    }
    .estiloSeccion{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .mainClass{
        display: flex;
        flex-direction: column;
    }
    section{
        width: auto;
    }
    .imagenDanubio{
        width: 250px;
    }
    .imagenBudapest{
        width: 270px;
        height: 135px;
    }
    .museosMain{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .imagenMuseo{
        width: 275px;
    }
    .estiloTitulo{
        width: auto;
    }
    aside{
        width: auto;
    }
} 

